# ignore linker scripts:
*.ld

# ignore compiled binary files and intermediate files produced during compilation:
*.out
*.d
*.o
*.s
*.hex
*.elf

# ignore everything in the build/ folder:
build/*

# ignore particular source files:
src/uartstdio.c
